
.gameBack{
  height: 460px;
  width: 430px;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(circle, #287d2c, rgba(40,69,41,1) , rgba(40,40,40,1) );;
  border-radius: 6%;
  border: 30px solid rgba(240,180,135,1);
  border-top-width: 45px;
  border-bottom-width: 45px;
  box-shadow: 7px 10px 34px 3px rgba(0, 0, 0, 0.68);
  font-family: 'Pangolin', cursive;
}

.title{
  color: rgba(220,220,220,1);
}

.boton{
  height: 123.3px;
  width: 121px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ff000000;
  display: inline-block;
  border-style: solid;
  border-color: rgba(240,180,135,1);
  text-align: center;
  display: inline-block;
  font-size: 6rem;
  color: rgba(220,220,220,1);
  font-family: 'Pangolin', cursive;
}
