
.gameBack{
  position: relative;
  height: 450px;
  width: 430px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(240,180,135,1);
  border-radius: 6%;
  font-family: 'Pangolin', cursive;
}

.background{
  position: absolute;
  margin-top: 45px;
  margin-left: 25px;
  height: 370px;
  width: 380px;
  background: radial-gradient(circle, #287d2c, rgba(40,69,41,1) , rgba(40,40,40,1) );
  color: rgba(220,220,220,1);
}

.result{
  position: absolute;
  margin-top: 45px;
  margin-left: 25px;
  height: 370px;
  width: 380px;
  z-index: 1;
  background: #1c1a1a80;
  color: rgba(220,220,220,1);
}
.textResult{
  margin-top: 9rem;
}

.boton{
  height: 127.3px;
  width: 121px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ff000000;
  display: inline-block;
  border-style: solid;
  border-color: rgba(240,180,135,1);
  text-align: center;
  font-size: 6rem;
  color: rgba(220,220,220,1);
  font-family: 'Pangolin', cursive;
}

.reset{
  font-size: 1.3rem;
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border-radius: 15px;
  border: 2px dashed transparent;
  display: none;
}
.divider, .score1, .score2 {
    position: absolute;
    font-size: .9rem;
    margin: 0;
    display: none;
}
.score1, .score2 {
    font-family: 'Pangolin', cursive;
    top: 17px;
    color: rgba(100,60,50,.8);
}
.score1 {
    left: 75px;
}
.score2 {
    left: 160px;
}
.score1 .points, .score2 .points {
    position: absolute;
    text-align: center;
    bottom: 14px;
    color: rgba(100,60,50, .9);
    font-family: 'Pangolin', cursive;
}
.divider {
    left: 141px;
    font-size: 2rem;
    font-family: helvetica, sans-serif;
    font-style: normal;
    opacity: .2;
}
.turnPlayerX, .turnPlayerO {
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    width: 170px;
    height: 40px;
    z-index: -1;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.turnPlayerX {
    background: rgba(0,200,200,1);
    left: 15px;
}
.turnPlayerO {
    background: rgba(200,100,100,1);
    right: 15px;
}
